
body * {
      -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
}

@media print {
    body * {
        visibility: hidden;
    }
    main, main * {
        visibility: visible;
    }
    main {
        position: absolute;
        left: 0;
        top: 0;
    }
    
}


h4, h3, h2, h1, p {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.white_text {
    color: lightgray;
}

aside {
    float: left;
    width: 25%;
    display: inline-block;
}
article{
    float: right;
    width: 70%;
    display: inline-block;
    border-left: 1px solid gray;
    margin-bottom: 10px;
}


.item1 {
    grid-area:image; 
    background-color: darkslategrey !important; 
}
.item2 {grid-area:name;}
.item3 {grid-area:contact;}
.item4 {grid-area:about; background-color: darkslategrey !important;}
.item5 {grid-area:work; border-top: solid 1px gray;}
.item6 {
    grid-area:social;
    background-color: darkslategrey !important; 
    border-top: solid 1px lightgray;
    word-break: break-all;
}
.item7 {grid-area:education; border-top: solid 1px gray;}
.item8 {
    grid-area:references; 
    background-color: darkslategrey !important; 
    border-top: solid 1px lightgray;
    word-break: break-all;
    }
.empty {grid-area:empty}

.grid_container {
    display: grid;
    grid-template-columns: 250px 300px auto;
    grid-template-areas: 
    'image name contact'
    'about work work'
    'social education education'
    'references empty empty';
    gap: 0px;
    margin: 15px;

}
.grid_container > div {
    padding: 0px;
}

#photo {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}
.workItem, .educationItem  {
}